#button{
	margin-top: 30px;
	font-size: 44px;
	padding: 20px 30px;
	border: none;
	color: #000;
	background-color: #EEE;
}

#button:hover{
	background-color: #FFF;
}

body{
	display: flex;
	align-items: stretch;
	justify-content: space-around;
}